.header{
    background-color: aqua;
}
.section1{
    background-color: slategrey;
}
.section2{
    background-color: blueviolet;
}
.section3{
    background-color: greenyellow;
}
#gmail{
    background-color: aquamarine        ;
}
#github{
    background-color: blueviolet;
}
#portfolio{
    background-color: cadetblue;
}